@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Phạm Quốc An - 2121050503</p>
</div>

<form asp-action="Index">
    <label>Nhập họ và tên: </label>
    <input type="text" name="FullName">
    <label>Nhập địa chỉ: </label>
    <input type="text" name="Address">
    <input type="submit" value="Gửi dữ liệu">

</form>

<h1>@ViewBag.Message</h1>